


<head>
  <link rel="stylesheet" href="equipment.component.css">
</head>

<h4>Reservation System</h4>
<mat-form-field appearance="fill">
  <mat-label>Equipment</mat-label>
  <select matNativeControl required>
    <option value="Macbook">Macbook</option>
    <option value="Windows Laptop">Windows Laptop</option>
    <option value="Windows Desktop">Windows Desktop</option>
    <option value="Keyboard">Keyboard</option>
  </select>
</mat-form-field>

<p>
  <a routerLink="/home" class="button">
      Home
  </a>
</p>





